html {
    --primary-color: #3B0D11;
    --primary-color-light: #6A3937;
    --secondary-color: #283F3B;
    --secondary-color-light: #bae3dc;

    --site-background: #fff7f7;

    --backing-background: var(--secondary-color);
    --backing-color: white;

    --header-height: 2.75rem;

    --side-nav-width: 200px;

    --basic-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
    --inset-box-shadow: inset 0px 0px 7px 5px rgba(0, 0, 0, 0.4);
}